
MONGODB_URI=mongodb+srv://amiish198:Effect%40.1924@e-com.0kivzj5.mongodb.net/?retryWrites=true&w=majority
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-in-production
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d


CORS_ORIGIN=http://localhost:5173
NODE_ENV=production
FRONTEND_URL=http://localhost:5173
SMTP_HOST=smtp.resend.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=resend
SMTP_PASS=re_QjPuApFt_CphttGmHA9fcEXjyWNFgcB6B
SMTP_FROM="Document Vault" <onboarding@resend.dev>
